*{
    
    margin-right: 2px;
    padding: auto;
}
body{
    background-color:rgb(220, 211, 193);
}
.begin{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    background:rgb(187, 161, 130,0.4);
    text-align: center;

}
.logo{
    font-family: Lobster, cursive;
    font-size: 3.5em;
    font-weight: 500;
    position: absolute;
    top: 28%;
    left: 80%;
    transition: 0.3s ease;
}
.span{
    color: rgb(147, 113, 72);
}
.logo:hover{
    color:purple ;
    text-shadow: 0 0 25px rgba(202, 60, 157, 0.5),
                 0 0 25px rgba(202, 60, 157, 0.5);
    transition: 0.3s ease-in;
}
.navbar{
    display: flex;
    
}
.navbar ul{
    margin: 0px 20px;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
}
.navbar ul li{
    list-style: none;
    font-size: 30px;
    margin: 5px;
    padding: 5px;
    margin-right: 10px;

}
.nav-buttons{
    background-color: bisque;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 12px;
    transition: 0.3s ease;
}
.nav-buttons:hover{
    background-color: rgb(238, 197, 148);
    transition: 0.3s ease;
    border: 2px solid white;
}
.nav-buttons i{
    font-size: 20px;
    margin: 10px;
    padding: 0;
    box-shadow: 0 0 2px 0.5px solid;
}
.start{
    position: absolute;
    top:25vh;
    left: 20vh;
    font-size: 21px;
    font-weight: 500;

}
.see{
    width: 345px;
    display: flex;
    gap: 2em;
}
.btn{
    width: 180px;
    display: flex;
    gap: 2em;
    position: absolute;
    top:65vh;
    left: 40vh;
}
.see{
    padding: 15px 28px;
    background-color: rgb(135, 110, 77);
    color: white;
    border: 2px solid transparent;
    border: 8px;
    font-size: 18px;
    border-radius: 12px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.see:hover{
    background-color: rgb(197, 169, 134);
    color: black;
    border: 2px solid wheat;
}
.shopimg{
    width: 50cap;
    border-radius: 12px;
   position: relative;
   left: 80cap;
   top: 10cap;
  
}
.swiper {
    width: 30%;
    height: 50%;
    position: absolute;
    top: 10cap;
    left: 5%;
}
.swiper-slide {
    background-position: center;
    background-size:auto;
}
.swiper-slide img {
    display: block;
    width: 100%;
}
h1{
    font-size: 4em;
    font-weight: 200;
    position:absolute;
    right: 45%;
    top: 18cap;
}
p{
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    right: 20px;
    top: 45px;
}
.about{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}